parameters:
    level: 8
    fileExtensions:
        - php
        - module
        - inc
    paths:
        - .
    scanFiles:
    scanDirectories:
        - modules
        - tests
    excludes_analyse:
        - node_modules
        - modules/addons/cnicdns/vendor
        - build
        - tests
    bootstrapFiles:
        - tests/_bootstrap.phpstan.php
        - modules/addons/cnicdns/vendor/autoload.php
    ignoreErrors:
        -
            message: '#Function add_hook not found#'
            path: modules/addons/cnicdns/hooks.php
        -
            message: '#Access to an undefined property object::\$name#'
            path: modules/addons/cnicdns/hooks.php
        -
            message: '#Access to an undefined property object::\$zone#'
            path: modules/addons/cnicdns/hooks.php
