parameters:
    level: 8
    fileExtensions:
        - php
        - module
        - inc
    paths:
        - .
    scanFiles:
    scanDirectories:
        - modules
        - tests
    excludes_analyse:
        - node_modules
        - modules/addons/cnicdns/vendor
        - build
        - tests 
    bootstrapFiles:
        - tests/_bootstrap.phpstan.php
        - modules/addons/cnicdns/vendor/autoload.php
        